$header-color: #3e3232;
$header-tex-color: #fafafa;
$form-color: #707070;
$add-btn-color: #6de6d9;
$btn-text-color: #ffffff;
$delete-btn: #ef5f5f;
$close-btn: #444242c9;
$modal-bcg: rgba(0, 0, 0, 0.64);
